body{
    margin:0 auto;
    width:90%;
}


#education h2, #techQual h2, #internships h2{
    font-size:1.6em;
    font-weight: bold;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 1.8em;
}
#headList li{
    margin: 0 auto;
    display:inline;
    margin-left: 1em;
    margin-right:1em;
}
ul{
    margin:0 auto;
    padding-left:0%;
    padding-right:0%;
    width:75%;
}
#info{
    text-align: center;
}

div.date {
    float:right;
}

div.bold{
    font-weight: bold;
    display: inline;
}

#major{
    font-style: italic
}